{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content">
    <div class="form">
        <h1>Comments Generator</h1>
        <p>Sentiment File</p>
        <div class="file-upload" id="sentiment-upload">
            <p>Drag & drop or click to browse</p>
        </div>
        <p>Examples File</p>
        <div class="file-upload" id="examples-upload">
            <p>Drag & drop or click to browse</p>
        </div>
        <p>Completed Comments Location</p>
        <div class="completed-loc">
            <input type="text" id="completed-loc" placeholder="Select a Location...">
            <button id="generate">Browse</button>
        </div>

        <hr>

        <div class="submit-reset">
            <button id="reset">Reset</button>
            <button id="submit">Submit</button>
        </div>
    </div>
</div>
{% endblock content %}

<!-- FORM CODE AS COMMENT IN views.py -->